########## Custom ignore ##########
# Directories
final_project/literature
final_project/old
final_project/report

# Reports and literature
*.pdf
*.ps

# Raw data files
*.txt




########## Cplusplus ignore ##########
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

